/* utilities */


 a{
  color: #262626 !important;
  text-decoration:none !important;
}

.swiper-button-prev{
  color:white !important;
  font-size: xx-small!important;

}

.swiper-button-next{
  color:white !important;
  font-size: xx-small!important;
}

.dropdown-menu a:hover {background-color: hsl(350, 81%, 56%); 
}
.dropdown-menu a:active {background-color:hsl(350, 81%, 56%); 
  }
.dropdown-menu a:visited {background-color: hsl(350, 81%, 56%); 
  }

.container-main{
  position: relative;
  
}

.navbar__wrapper{
  height:100vh;
  z-index: 100;
  position: fixed;
}
.nav__container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:60px;
    font-size:12;
    background-color: #131921;
    
}
.dropdown__menu{
  background-color: #131921 !important;
}

.dropdown__menu__right{
  background-color:green!important;
}
.nav__logo{
  display: flex;
  width: 30%;
  position: absolute;
  left: 0px;
 
}

.social-menu{
  position: absolute;
  left: 250px;
}
.menu-logo{
  color:white
}
.navright_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:space-evenly;
}
.nav__menu{
  top: 0;
  background-color: green;
  height: 100%;
  padding-top: 50px;
  padding-left: 0px;
  margin-left: 0px;
  opacity: 0.9;
  width: 35%;
  position: absolute;
}
.nav__menu__item{
  display: block;
  align-items: center;
  

}

.nav__humberger {
  display:flex;

}

.nav__menu__big{
  display:none
}

.nav__helper{
  display: none;
}


 @media only screen and (min-width: 600px) {
    .nav__humberger {
       display:none;
     }
    .nav__menu {
      display:none;
    
    }

    .nav__menu__big{
      display:flex;
      align-items:center;
      justify-content: space-evenly;
      width: 100%;
    }
    .navright_container{
      display: flex;
      justify-content: space-between;
      align-items:center;
    }
   }  
   
  
  
  /* homecards */

  .home__cards{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-area: auto;
    
    grid-gap:10px;
    margin-bottom: 40px;
  }

  .home__cards__img{
    width:100%;
    margin-bottom: 20px;
  }

  .home__cards__{
    margin-bottom: 5px;
  }

  .home__cards a {
    display:inline-block;
    padding-top: 10px;
    color:#0067b8;
    text-transform: uppercase;
    font-weight: bold;
  }

  .home__cards a:hover{
    margin-left: 10px;
  }

  .nav__menu{
    z-index: 200;
  }
