


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background:#fff;
    color:#000;
    font-size:15px;
}

a {
  color: #262626;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul{
  list-style: none;
}

/* .container{
  width: 90%;
  max-width:  1100px;
  margin: auto;
} */
/* 
.btn {
  cursor:pointer;
  display:inline-block;
  border:0;
  font-weight: bold;
  background: #222;
  color:#fff;
  font-size:15px;
  padding:0px 10px;
 

}

.btn:hover{
  opacity:0.9;
}

.dark{
  color:#fff;

}

.dark .btn {
  background: #ffff;
  color:#333

} */

